</div>
<script src="index.js" charset="utf-8"></script>
  <footer id="footer">

    <a class="footer-link" href="https://www.linkedin.com/in/anubhav-sharma-a52b82176/" target="blank"><i class="fab fa-linkedin contack-icon"></i></a>
    <a class="footer-link" href="https://twitter.com/Anubhav75035413" target="blank">    <i class="fab fa-twitter   contack-icon "></i></a>
    <a class="footer-link" href="https://www.instagram.com/anubhav1ks/?hl=en" target="blank">  <i class="fab fa-instagram contack-icon "></i></a>
    <a class="footer-link" href="https://www.facebook.com/aneha.gaur.5/" target="blank"><i class="fab fa-facebook-f contack-icon "></i></a>
     <a href="mailto:annu992002@gmail.com"><i class="fas fa-envelope  contack-icon "></i></a>



    <p>© by Anubhav SHARMA</p>

  </footer>
  <script type="/index.js">

  </script>
</body>
</html>
