<%- include('partials/header'); -%>


<h2 style="text-align:center;"><--------------Owner Details-----------------></h2>
<div class="detail-row">
  <h2>Name :</h2>
  <h3 style="float:right;margin-left: 100px;">Anubhav Sharma</h3>
</div>
<div class="detail-row">
  <h2>Email :</h2>
  <h3 style="float:right;margin-left: 100px;">annu992002@gmail.com</h3>
</div>
<div class="detail-row">
  <h2>Education :</h2>
  <h3 style="float:right;margin-left: 100px;"> B.Tech(2nd Year)</h3>
</div>
<div class="detail-row">
  <h2>Collage :</h2>
  <h3 style="float:right;margin-left: 100px;">MVSIT</h3>
</div>
<%# <p style="text-align:center; font-size:30px; "><b>Social media links are at the bottom</b></p> %>
<h2 style="text-align:center;"><--------------Website Details-----------------></h2>
<div class="">
  <h2 style="display:inline;">Summary :</h2>
  <p style="float:right; Font-size:20px;width: 80%;">This Website is a demo for am internship(The Sparks Foundation) any payment made in the Website id not real</p>
</div>



<%- include('partials/footer'); -%>
