<%- include('partials/header'); -%>

    <div class="container center">
      <div class="row">
        <div class="col">
          <h1>Welcome to the Sparks bank </h1>
        <%# <button type="button" class="btn btn-dark btn-lg download-butten" ><a href="/sendmoney" style="color:white">Donate Money </a></button> %>


        </div>
        <div class="col">
        <!-- LOGO of BRAND -->
        <%# <img class="title-image" src="images/logo1.png" alt=""> %>
        <button type="button" class="btn btn-outline-light btn-lg download-butten" id="btn"> <a href="/send">View All Customer</a> </button>
        <button type="button" class="btn btn-outline-light btn-lg download-butten" id="btn"> <a href="/transaction">Transaction History</a> </button>
        </div>
      </div>
    </div>


    </section>


<%- include('partials/footer'); -%>
