<%- include('partials/header'); -%>
<h1>Transaction SucessFull</h1>
<button type="button" class="btn btn-outline-light btn-lg download-butten"> <a href="/transaction">Transaction History</a> </button>
<button type="button" class="btn btn-outline-light btn-lg download-butten"> <a href="/">Home</a> </button>





<%- include('partials/footer'); -%>
